%h3.text-center
  = camp.name
%p.font-weight-light.no_margin
  %strong
    Организация:
  = camp.company.name

- camp_full_name_hash.each do |a, b|
  %p.font-weight-light.no_margin
    %strong
      = b
    = camp[a]

%p.font-weight-bold
  = link_to "Edit", edit_camp_path(camp)
  -# = link_to "Delete", camp_path(camp), method: :delete

