%p.font-weight-light.no_margin
  %strong
    Заполненость: 
  = camp.fullness.to_s + "%"  
%p.font-weight-light.no_margin
  %strong ID лагеря:
  = camp.id
%p.font-weight-light.no_margin
  %strong Название лагеря:
  = camp.name
%p.font-weight-light.no_margin
  %strong Анкета окончена:
  = camp.is_finished ? 'Да' : 'Нет'
%p.font-weight-light.no_margin
  %strong
    Анкета прошла проверку администратора:
  %span{style: "color: #{camp.is_approved.blank? ? 'red': 'green'}"}
    = camp.is_approved.blank? ? 'Нет' : 'Да'
- if current_user.is_admin?
  %p.font-weight-light.no_margin
    %strong
      Контент-менеджер:
    = camp.user.name
%p.font-weight-bold
  = link_to 'Edit', edit_camp_path(camp)
  = link_to 'Show', camp_path(camp)
  -# = link_to "Delete", camp_path(camp), method: :delete
