
.card{style: 'margin: 20px 0px;'}
  .card-header Название: #{camp.name}. id: #{camp.id}
  .card-body
    %p.card-text
      Заполненность:
      = camp.fullness.to_s + "%"
    %p.card-text
      Анкета закончена:
      = camp.is_finished ? 'Да' : 'Нет'
    %p.card-text
      Анкета прошла проверку администратора:
      %span{style: "color: #{camp.is_approved.blank? ? 'red': 'green'}"}
        = camp.is_approved.blank? ? 'Нет' : 'Да'
    - if current_user.is_admin?
      %p.card-text
        Контент-менеджер:
        = camp.user.name
    = link_to 'Edit', edit_camp_path(camp), class: 'card-link'
    = link_to 'Show', camp_path(camp), class: 'card-link'

