%h3
  = camp.name
%p.font-weight-light{style: "margin: 0px; padding: 0px;"}
  %strong
    Компания:
  = camp.company.name
%p.font-weight-light{style: "margin: 0px; padding: 0px;"}
  %strong
    Сайт лагеря:
  = camp.url
%p.font-weight-light{style: "margin: 0px; padding: 0px;"}
  %strong
    Группа в фб:
  = camp.facebook
%p.font-weight-light{style: "margin: 0px; padding: 0px;"}
  %strong
    Группа в ВК:
  = camp.vk
%p.font-weight-light{style: "margin: 0px; padding: 0px;"}
  %strong
    Страница на Инкэмп:
  = camp.incamp_url
%p.font-weight-light{style: "margin: 0px; padding: 0px;"}
  %strong
    Страница на Мире-лагерей:
  = camp.ml_url
%p.font-weight-light{style: "margin: 0px; padding: 0px;"}
  %strong
    Страница на Дети-тревел:
  = camp.dt_url
%p.font-weight-light{style: "margin: 0px; padding: 0px;"}
  %strong
    Страница на Инлерно:
  = camp.inlearno_url
%p.font-weight-light{style: "margin: 0px; padding: 0px;"}
  %strong
    Страница на Бест-кэмпс:
  = camp.bc_url
%p.font-weight-light{style: "margin: 0px; padding: 0px;"}
  %strong
    Страница на Поехали-дети:
  = camp.pd_url
%p.font-weight-light{style: "margin: 0px; padding: 0px;"}
%p.font-weight-bold
  = link_to "Edit", edit_camp_path(camp)
  -# = link_to "Delete", camp_path(camp), method: :delete

