%h1.text-center
  = @camp.name
.row
  .col-md-12
    = form_for @camp, id: 'content_form' do |f|

      %p
        Анкета прошла проверку администратора:
        %span{style: "color: #{@camp.is_approved.blank? ? 'red' : 'green'};"}
          = @camp.is_approved.blank? ? 'Нет' : 'Да'
      .form-group
        %label Комментарий администратора
        = f.text_area :admin_comment, class: 'form-control', readonly: 'true'
      .panel.panel-danger
        .panel-heading
          %h5.panel-title
            = link_to 'Заполняется администратором (показать/скрыть)', '#', id: 'hiding-link'
        #admin-panel.panel-body{style: 'display: none;'}
          .form-group
            %label Название организации
            = text_field_tag :company_id, @camp.company.name, class: 'form-control', readonly: 'true'
          .form-group
            %label ID лагеря
            = text_field_tag :camp_id, @camp.id, class: 'form-control', readonly: 'true'
          .form-group
            %label Название лагеря
            = f.text_field :name, class: 'form-control', readonly: 'true'
          .form-group
            %label Сайт лагеря
            = f.text_field :url, class: 'form-control', readonly: 'true'
          .form-group
            %label Группа в фб
            = f.text_field :facebook, class: 'form-control', readonly: 'true'
          .form-group
            %label Группа в ВК
            = f.text_field :vk, class: 'form-control', readonly: 'true'
          .form-group
            %label Страница на Incamp
            = f.text_field :incamp_url, class: 'form-control', readonly: 'true'
          .form-group
            %label
              Цена на Incamp:
              = @camp.has_incamp_price? ? 'Да' : 'Нет'
          .form-group
            %label Страница на mir-lagerey
            = f.text_field :ml_url, class: 'form-control', readonly: 'true'
          .form-group
            %label Страница на deti-travel
            = f.text_field :dt_url, class: 'form-control', readonly: 'true'
          .form-group
            %label Страница на Inlearno
            = f.text_field :inlearno_url, class: 'form-control', readonly: 'true'
          .form-group
            %label Страница на best-camps.ru
            = f.text_field :bc_url, class: 'form-control', readonly: 'true'
          .form-group
            %label Страница на poehalideti.ru
            = f.text_field :pd_url, class: 'form-control', readonly: 'true'
      .panel.panel-info
        .panel-heading
          %h5.panel-title
            Заполняется Вами
        .panel-body
          .form-group
            %label Наличие презентации о лагере
            = f.check_box :presentation
          .form-group
            %label Анонс лагеря
            = f.text_area :preview, class: 'form-control', rows: '20', id: 'big_field'
          .form-group
            %label Программа лагеря
            = f.text_area :program, class: 'form-control', rows: '20'
          .form-group
            %label Обучение
            = f.text_area :study, class: 'form-control', rows: '20'
          .form-group
            %label Распорядок дня
            = f.text_area :schedule, class: 'form-control', rows: '20'
          .form-group
            %label Размещение/территория
            = f.text_area :accommodation, class: 'form-control', rows: '20'
          .form-group
            %label Питание
            = f.text_area :meal, class: 'form-control', rows: '20'
          .form-group
            %label Медицина/безопасность
            = f.text_area :security, class: 'form-control', rows: '20'
          .form-group
            %label Сезон работы
            = f.collection_select :season_type_ids, SeasonType.all.order(:name), :id, :name, {}, {multiple: true, class: "js-select"}
          .form-group
            %label Категория лагеря
            = f.collection_select :camp_category_ids, CampCategory.all.order(:name), :id, :name, {}, {multiple: true, class: "js-select"}
          %fieldset
            %legend Смены в лагере
            = f.fields_for :camp_shifts do |builder|
              = render 'camp_shift_fields', f: builder, i: builder.options[:child_index]
            = link_to_add_fields 'Добавить смену', f, :camp_shifts
          .form-group
            %label Что входит в стоимость
            = f.text_area :pricing, class: 'form-control', rows: '20'
          .form-group
            %label Адрес
            = f.text_area :adds, class: 'form-control', rows: '2'
          .form-group
            %label Широта
            = f.text_field :latitude, class: 'form-control'
          .form-group
            %label Долгота
            = f.text_field :longitude, class: 'form-control'
          .form-group
            %label Геотеги лагеря
            = f.collection_select :geotag_ids, Geotag.all.order(:name), :id, :name, {}, {multiple: true, class: "js-select-new"}
          .form-group
            %label С какого возраста
            = f.text_field :starting_age, class: 'form-control'
          .form-group
            %label До какого возраста
            = f.text_field :finish_age, class: 'form-control'
          .form-group
            %label Год основания лагеря
            = f.text_field :foundation_year, class: 'form-control'
          .form-group
            %label Детей в лагере
            = f.text_field :kids_in_camp, class: 'form-control'
          .form-group
            %label Детей в отряде
            = f.text_field :kids_in_group, class: 'form-control'
          .form-group
            %label Вожатых на отряд
            = f.text_field :leaders_per_group, class: 'form-control'
          .form-group
            %label День открытых дверей
            = f.check_box :promo_day
          .form-group
            %label Качество фотографий
            = f.text_field :photos, class: 'form-control'
          .form-group
            %label Ссылки на видео
            = f.text_area :video_links, class: 'form-control', rows: '2'
          .form-group
            %label Общий комментарий
            = f.text_area :comment, class: 'form-control', rows: '20'
          %fieldset
            %legend Вожатые в лагере
            .form-group
              %label Анонс о вожатых
              = f.text_area :group_leader_anounce, class: 'form-control', rows: '3'
            = f.fields_for :group_leaders do |builder|
              = render 'group_leader_fields', f: builder, i: builder.options[:child_index]
            = link_to_add_fields 'Добавить вожатого', f, :group_leaders
          %fieldset
            %legend Отзывы о лагере
            = f.fields_for :reviews do |builder|
              = render 'review_fields', f: builder, i: builder.options[:child_index]
            = link_to_add_fields 'Добавить отзыв', f, :reviews
          .form-group
            %label Заполнение анкеты завершено
            = f.check_box :is_finished
      = f.submit 'Сохранить форму', class: 'btn btn-outline-primary'



