.card{style: 'margin-top: 10px; padding: 10px 0px;'}
  .row
    .col-md-4
      = image_tag user.status.badge.main_picture, style: 'width: 100%; height: auto;'
    .col-md-4
      %ul.list-unstyled
        %li Name: #{user.name}
        %li Email: #{user.email}
        %li Status: #{user.status.badge.name || 'No status'}
        %li Current rating: #{user.rating || 'No rating'}
        %li To next rating: #{user.status.length || 'No data for this status'}
        %li Next status: #{Status.find_by(id: user.status.next_status_id).badge.name || 'No data for next status'}
        %li Camps assigned: #{Camp.where(user: user).count || 'No info'}
        %li Camps finished: #{Camp.where(user: user, is_finished: 1).count || 'No info'}
        %li Camps approved: #{Camp.where(user: user, is_approved: 1).count || 'No info'}
        %li Last sign in at: #{user.last_sign_in_at || 'No info'}
    .col-md-4
      %ul.list-unstyled
        %li Current status camp payment: #{user.status.pay_coefficient*100}р.
        %li Next status camp payment: #{Status.find(user.status.next_status_id).pay_coefficient*100}р.
