%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to "Contenter", root_path, class: "navbar-brand"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - if user_signed_in?
        %li.nav-item
          - if current_user.is_admin?
            = link_to 'Компании', companies_path, class: 'nav-link'
          - else
            = link_to 'Новый лагерь', new_camp_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Все лагеря', camps_path, class: 'nav-link'
        %li.nav-item
          - if current_user.is_admin?
            = link_to 'Статистика', camp_statistics_path, class: 'nav-link'
        %li.nav-item
          - if current_user.is_admin?
            = link_to 'Выплаты', camp_payments_path, class: 'nav-link'
        - if current_user.is_admin?
          %li.nav-item.dropdown
            %a#downloads.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Downloads
            .dropdown-menu{"aria-labelledby" => "downloads"}
              = link_to 'Download Camps CSV', camps_path(format: :csv), class: 'dropdown-item'
              = link_to 'Организации', downloads_path(format: :csv, type: 'companies'), class: 'dropdown-item'
              = link_to 'Смены', downloads_path(format: :csv, type: 'shifts'), class: 'dropdown-item'
              = link_to 'Seasonship', downloads_path(format: :csv, type: 'seasonship'), class: 'dropdown-item'
              = link_to 'Seasons', downloads_path(format: :csv, type: 'seasons'), class: 'dropdown-item'
              = link_to 'Taggization', downloads_path(format: :csv, type: 'taggization'), class: 'dropdown-item'
              = link_to 'Tags', downloads_path(format: :csv, type: 'geotags'), class: 'dropdown-item'
              = link_to 'Leaders', downloads_path(format: :csv, type: 'leaders'), class: 'dropdown-item'
              = link_to 'Reviews', downloads_path(format: :csv, type: 'reviews'), class: 'dropdown-item'
              = link_to 'Review Roles', downloads_path(format: :csv, type: 'reviewroles'), class: 'dropdown-item'
              = link_to 'Categorization', downloads_path(format: :csv, type: 'categorization'), class: 'dropdown-item'
              = link_to 'Camp categories', downloads_path(format: :csv, type: 'campcategories'), class: 'dropdown-item'
    %ul.navbar-nav.ml-auto
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = user_signed_in? ? (current_user.name || current_user.email) : 'Log in'
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          - if user_signed_in?
            = link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item'
            = link_to 'Show profile', current_user, class: 'dropdown-item'
            .dropdown-divider
            = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
          - else
            = link_to 'Sign up', new_user_registration_path, class: 'dropdown-item'
            = link_to 'Log in', new_user_session_path, class: 'dropdown-item'
      - if user_signed_in?
        %li
          = image_tag current_user.status.badge.main_picture, class: "rounded-circle align-middle border", style: 'width: 40px; height: 40px;'